# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/

# Testing / coverage
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# TypeScript
*.tsbuildinfo

# Temporary files
tmp/
temp/